-r requirements.txt
pytest==9.1.1
pytest-qt==4.5.0
iniconfig==2.3.0
pluggy==1.6.0
Pygments==2.21.0
PyInstaller==6.22.3
pyinstaller-hooks-contrib==2026.7
altgraph==0.17.5
setuptools==84.0.0
python-docx==1.2.0
typing_extensions==4.16.0
pefile==2024.8.26; sys_platform == 'win32'
pywin32-ctypes==0.2.3; sys_platform == 'win32'
colorama==0.4.6; sys_platform == 'win32'
